.dropdown-menu {
  padding: 15px;
  padding-bottom: 10px;
  width: 300px;
}
/*.dropdown-menu .form-group {
  margin-bottom: 7px;
}*/
body {
  padding-top: 50px;
  padding-bottom: 50px;
}
.new-name-hidden {
  display: none;
}
