.dropdown-menu {
  padding: 15px;
  padding-bottom: 10px;
  width: 300px;
}
/*.dropdown-menu .form-group {
  margin-bottom: 7px;
}*/
.navbar-brand {
  padding: 1px 6px;
}
.navbar-brand>img {
  max-width: 150px;
}
body {
  padding-top: 50px;
  padding-bottom: 50px;
}
.new-name-hidden {
  display: none;
}

.carousel{
    background-color: #5486a5;
    margin-top: 20px;
    width: auto;
    height: 500px;
    max-height: 500px;
}
.carousel .item{
    min-height: 280px; /* Prevent carousel from being distorted if for some reason image doesn't load */
}
.carousel .item img{
    margin: 0 auto; /* Align slide image horizontally center */
    width: auto;
    height: 500px !important;
    max-height: 500px;
}

.carousel-indicators {
    left: 33%;
    width: 92%;
}

.carousel-indicators li {
    border: medium none;
    border-radius: 0;
    float: left;
    height: 150px;
    margin-bottom: 5px;
    margin-left: 0;
    margin-right: 5px !important;
    margin-top: 0;
    width: 150px;
}

.carousel-indicators img {
    border: 2px solid #FFFFFF;
    float: left;
    height: 150px;
    left: 0;
    width: 150px;
}

.carousel-caption {
    right: 0 !important;
    left: 0 !important;
    padding-bottom: 11px !important;
    background: rgba(12, 12, 12, 0.36);
    position: absolute;
    right: 15%;
    bottom: 0px;
    left: 15%;
    z-index: 10;
    padding-top: 6px;
    padding-bottom: 20px;
    color: #fff;
    text-align: center;
    text-shadow: 0 1px 2px rgba(0,0,0,.6);
}

.glyphicon-chevron-left,
.glyphicon-chevron-right {
    color: #93c7ff;
}

.carousel-caption h3 {
  /* color: black !important; */

}

.img-responsive {
    height: 250px;
}

.album-title {
    color: #29a7b4;
}
.album-row {
    background: #5486a5;
    padding-top: 10px;
    padding-bottom: 10px;
}

